@page "/user"
@using DatabaseManagementApp.Models
@using DatabaseManagementApp.Services
@inject UserService UserService

<h1>User Management</h1>

<p>This is the user management page.</p>

@if (Users != null)
{
    <ul>
        @foreach (var user in Users)
        {
            <li>@user.usename</li>
            <li>@user.passwd</li>
        }
    </ul>
}

@code {
    private List<UserModel>? Users;

    protected override async Task OnInitializedAsync()
    {
        // Call a method on the UserService to fetch user data
        Users = await UserService.GetUsers();
    }
}
