@page "/user"
@rendermode InteractiveServer

<PageTitle>Users</PageTitle>

<h1>Users</h1>


@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
     currentCount += IncrementAmount;
    }
}
